---
import Button from './form/Button.astro'

// import CallToAction from './CallToAction.astro'
// import ContactForm from './ContactForm.astro'
---

<footer
  class='pointer-events-none fixed inset-x-0 bottom-0 flex h-[var(--layout-safe-area-inset-end)] flex-col justify-center'
  data-component='Footer'>
  <div class='mx-auto grid w-full max-w-120 px-3'>
    <Button as='a' href='mailto:hello@guillaumecatel.com'>
      Drop me a line
    </Button>
  </div>
</footer>
