---

---

<div class='relative' data-component='Wrapper'>
  <slot />
</div>

<script>
  import { useWrapperComponentAnimations } from '@/hooks/astro/useWrapperComponentAnimations'

  useWrapperComponentAnimations()
</script>
