@import 'tailwindcss';

@custom-variant webgl (&:where(.webgl *));
@custom-variant nowebgl (&:where(.nowebgl *));
@custom-variant network (&:where(.network *));
@custom-variant slow-network (&:where(.slow-network *));
@custom-variant battery (&:where(.battery *));
@custom-variant low-battery (&:where(.low-battery *));
@custom-variant active (&.active);
@custom-variant pwa (&:where(.pwa *));

@theme {
  /* Spacing */
  --spacing: 1.026vw; /* 4px */

  /* Typography */

  --text-lg: 7.1795vw;
  --text-lg--line-height: 1;
  --text-lg--letter-spacing: -0.015em;

  --text-md: 4.3589vw;
  --text-md--line-height: 1.25;
  --text-md--letter-spacing: -0.0053em;

  --text-sm: 3.5897vw;
  --text-sm--line-height: 1;
  --text-sm--letter-spacing: 0em;

  --text-xs: 2.5641vw;
  --text-xs--line-height: 0.75;
  --text-xs--letter-spacing: 0.012em;

  /* Colors */
  --color-accent-50: oklch(96.21% 0.036 205.19);
  --color-accent-100: oklch(92.32% 0.076 205.13);
  --color-accent-200: oklch(85.58% 0.135 203.25);
  --color-accent-300: oklch(78.83% 0.124 202.81);
  --color-accent-400: oklch(72.56% 0.114 202.95);
  --color-accent-500: oklch(62.85% 0.099 202.77);
  --color-accent-600: oklch(52.48% 0.083 203.66);
  --color-accent-700: oklch(43.18% 0.068 203.31);
  --color-accent-800: oklch(32.97% 0.052 202.74);
  --color-accent-900: oklch(23.81% 0.038 200.78);
  --color-accent-950: oklch(18.31% 0.03 202.87);
}

@layer utilities {
  .noise:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3C!-- svg: first layer --%3E%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='4' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    background-repeat: repeat;
  }

  .glass-lines:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    inset: 0;
    backdrop-filter: blur(10px);
    background-image: repeating-linear-gradient(
      to right,
      rgba(255, 255, 255, 0.1) 0px,
      rgba(255, 255, 255, 0.1) 0px,
      transparent 32px,
      transparent 0
    );
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active,
  input:-webkit-internal-autofill-selected,
  input:-internal-autofill-selected {
    /* Revert text color */
    -webkit-text-fill-color: var(--color-accent-950) !important;
    color: var(--color-accent-950) !important;
    caret-color: var(--color-accent-950) !important;
    background-color: transparent !important;

    /* Revert background color */
    transition: background-color 5000s ease-in-out 0s !important;
  }
}
