@import 'tailwindcss';

@custom-variant webgl (&:where(.webgl *));
@custom-variant nowebgl (&:where(.nowebgl *));
@custom-variant network (&:where(.network *));
@custom-variant slow-network (&:where(.slow-network *));
@custom-variant battery (&:where(.battery *));
@custom-variant low-battery (&:where(.low-battery *));
@custom-variant active (&.active);
@custom-variant pwa (&:where(.pwa *));

@theme {
  /* Spacing */
  --spacing: 0.25rem; /* 4px */

  /* Typography */
  --text-lg: 1.5rem; /* 24px */
  --text-lg--line-height: 1.75rem; /* 28px */
  --text-lg--letter-spacing: -0.0125em; /* -1.25% */

  --text-lg: 1.75rem; /* 28px */
  --text-lg--line-height: 1.1429; /* 28px */
  --text-lg--letter-spacing: -0.015em; /* -1.25% */

  --text-md: 1.0625rem; /* 17px */
  --text-md--line-height: 1.25rem; /* 20px */
  --text-md--letter-spacing: -0.0053em; /* -0.53% */

  --text-sm: 0.875rem; /* 14px */
  --text-sm--line-height: 1rem; /* 16px */
  --text-sm--letter-spacing: 0em; /* 0% */

  --text-xs: 0.625rem; /* 10px */
  --text-xs--line-height: 0.75rem; /* 12px */
  --text-xs--letter-spacing: 0.012em; /* 1.2% */

  /* Colors */
  --color-accent-50: oklch(99.38% 0.001 106.42);
  --color-accent-100: oklch(99.38% 0.001 106.42);
  --color-accent-200: oklch(98.8% 0.004 91.45);
  --color-accent-300: oklch(98.37% 0.007 106.52);
  --color-accent-400: oklch(97.72% 0.009 106.57);
  --color-accent-500: oklch(96.85% 0.012 101.48);
  --color-accent-600: oklch(86.09% 0.052 101.36);
  --color-accent-700: oklch(75.02% 0.093 103.47);
  --color-accent-800: oklch(58.09% 0.085 103.81);
  --color-accent-900: oklch(35.97% 0.048 101.97);
  --color-accent-950: oklch(23.15% 0.027 105);
}

@layer utilities {
  .noise:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3C!-- svg: first layer --%3E%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='4' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    background-repeat: repeat;
    mix-blend-mode: soft-light;
    filter: opacity(0.25);
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active,
  input:-webkit-internal-autofill-selected,
  input:-internal-autofill-selected {
    /* Revert text color */
    -webkit-text-fill-color: var(--color-accent-950) !important;
    color: var(--color-accent-950) !important;
    caret-color: var(--color-accent-950) !important;
    background-color: transparent !important;

    /* Revert background color */
    transition: background-color 5000s ease-in-out 0s !important;
  }
}
