---

---

<div
  aria-hidden='true'
  class='pointer-events-none invisible fixed top-0 left-0 z-[9999] h-6 w-6 mix-blend-difference pointer-coarse:hidden noscript:hidden'
  data-component='Cursor'>
  <div
    class='bg-accent-50/0 ring-accent-50 absolute inset-0 -translate-1/2 rounded-full ring transition-transform'
    data-cursor>
  </div>
</div>

<script>
  import { NOOP } from '@/constants'
  import { gsap } from '@/utils'

  let destroyCursor = NOOP

  let lastX = window.innerWidth / 2
  let lastY = window.innerHeight / 2

  document.addEventListener('astro:before-swap', () => {
    destroyCursor()
  })

  document.addEventListener('DOMContentLoaded', () => {
    destroyCursor = setupCursor()
  })

  function setupCursor() {
    const cursor = document.querySelector('[data-component="Cursor"]')!
    const customCursor = cursor.querySelector('[data-cursor]')!
    const interactiveElements = document.querySelectorAll(
      'a, label, button, input, textarea, [role="button"], [role="link"]',
    )

    if (!cursor || !customCursor) return () => {}

    gsap.set(cursor, { x: lastX, y: lastY, autoAlpha: 1 })

    const xTo = gsap.quickTo(cursor, 'x', { duration: 0.6, ease: 'power3' })
    const yTo = gsap.quickTo(cursor, 'y', { duration: 0.6, ease: 'power3' })

    function onMouseMove(e: MouseEvent) {
      lastX = e.clientX
      lastY = e.clientY
      xTo(lastX)
      yTo(lastY)
    }

    function onMouseEnter() {
      customCursor.classList.add('scale-50', 'bg-accent-50/100')
    }

    function onMouseLeave() {
      customCursor.classList.remove('scale-50', 'bg-accent-50/100')
    }

    window.addEventListener('mousemove', onMouseMove)

    interactiveElements.forEach((el) => {
      el.classList.add('cursor-none')
      el.addEventListener('mouseenter', onMouseEnter)
      el.addEventListener('mouseleave', onMouseLeave)
    })

    return () => {
      window.removeEventListener('mousemove', onMouseMove)
      interactiveElements.forEach((el) => {
        el.classList.remove('cursor-none')
        el.removeEventListener('mouseenter', onMouseEnter)
        el.removeEventListener('mouseleave', onMouseLeave)
      })
    }
  }
</script>
