---
// import CallToAction from './CallToAction.astro'
// import ContactForm from './ContactForm.astro'
---

<footer
  class='relative flex min-h-[87.5lvh] snap-start flex-col'
  data-component='Footer'>
  <!-- <div
    class='bg-accent-50/40 h-full flex-1 rounded-t-4xl shadow-2xl backdrop-blur-sm'>
    <ContactForm />
  </div>
  <CallToAction /> -->
</footer>
