---
import Logo from './Logo.astro'
---

<header
  class='noscript:visible invisible fixed top-24 right-3 left-3 mx-auto grid max-w-2xl grid-cols-12'
  data-component='Header'>
  <div class='col-span-2 flex items-center justify-center'>
    <Logo />
  </div>
</header>
