---

---

<div data-component='Logo'>
  <svg
    width='24'
    height='24'
    viewBox='0 0 28 28'
    fill='none'
    xmlns='http://www.w3.org/2000/svg'>
    <path
      d='M0 14.7705C0.575273 14.8755 1.22941 15.4001 1.22949 17.0098V24.5352C2.53708 26.1451 4.8382 28 9.10059 28C11.3008 28 13.2849 27.1774 14.9199 25.7627C16.501 27.1781 18.4069 28 20.4912 28C24.5563 28 26.3949 27.0553 27.5859 26.5303L27.9219 19.1455H27.7412C26.3689 25.1649 23.8573 27.405 20.9834 27.4053C18.8205 27.4053 17.1685 26.3712 15.9434 24.75C18.1761 22.2285 19.5352 18.4565 19.5352 14.21C19.5351 9.62595 18.2201 5.60141 15.7969 3.0166C16.928 1.62344 18.4191 0.770561 20.3096 0.770508C24.1417 0.770508 26.446 2.94032 27.8184 9.03027H28L27.6631 1.5752C26.472 1.05018 24.6338 7.34155e-05 21.0869 0C18.7924 0 16.7427 0.847381 15.0684 2.31348C13.3899 0.847737 11.2701 2.42797e-05 8.76074 0C5.30879 0 1.75195 1.26065 1.75195 4.51562C1.75243 9.69513 10.0156 9.73044 10.0156 12.1104C10.0152 14.4198 3.42756 14.5955 2.30176 14.5605C0.968051 14.5255 0.523023 14.4902 0 14.4902V14.7705ZM12.9824 13.3701C12.9824 9.89477 13.6463 6.44163 15.0908 4.03125C16.4472 6.38756 16.9463 9.77599 16.9463 13.3701C16.9463 16.8359 16.3676 20.4426 14.9355 23.1035C13.554 20.3436 12.9824 16.672 12.9824 13.3701ZM3.92285 5.49512C3.92288 2.97522 6.04084 0.770611 9.54492 0.770508C11.6721 0.770508 13.2414 1.5994 14.374 2.9834C12.3828 5.06968 11.0301 8.10442 10.583 11.6211C9.70186 9.05856 3.92285 9.47193 3.92285 5.49512ZM3.05957 21.1055C3.05957 18.6905 3.26926 16.8 4.65527 15.96C6.74294 14.6955 9.58624 14.6656 10.4414 13.2764C10.4277 13.5848 10.4189 13.896 10.4189 14.21C10.4189 18.4238 11.7435 22.1702 13.8809 24.6914C12.6057 26.2341 10.8798 27.1953 8.60352 27.1953C5.59633 27.1952 3.05973 25.62 3.05957 21.1055Z'
      fill='currentColor'></path>
  </svg>
</div>
