---
import Background from '@/components/astro/Background.astro'
import Body from '@/components/astro/Body.astro'
import Content from '@/components/astro/Content.astro'
import Cursor from '@/components/astro/Cursor.astro'
import Document from '@/components/astro/Document.astro'
import Footer from '@/components/astro/Footer.astro'
import Head from '@/components/astro/Head.astro'
import Header from '@/components/astro/Header.astro'
import Html from '@/components/astro/Html.astro'
import Wrapper from '@/components/astro/Wrapper.astro'
---

<Document>
  <Html>
    <Head>
      <slot name='head' />
    </Head>
    <Body transition:name='none'>
      <Wrapper>
        <Header />
        <Content>
          <slot name='body' />
        </Content>
        <Footer />
      </Wrapper>
      <Cursor server:defer transition:persist />
      <Background server:defer transition:persist='background' />
    </Body>
  </Html>
</Document>
