---
import Body from '@/components/astro/Body.astro'
import Document from '@/components/astro/Document.astro'
import Head from '@/components/astro/Head.astro'
import Html from '@/components/astro/Html.astro'

import Background from '@/components/react/Background'
import Cursor from '@/components/react/Cursor'
import Wrapper from '@/components/react/Wrapper'
---

<Document>
  <Html>
    <Head>
      <slot name='head' />
    </Head>
    <Body>
      <Background
        client:visible
        client:only='react'
      />
      <Cursor
        client:visible
        client:media='(pointer: fine)'
        client:only='react'
      />
      <Wrapper client:load>
        <slot name='body' />
      </Wrapper>
    </Body>
  </Html>
</Document>
